iframe {
  width: 300px;
  height: 500px;
}

.reveal code.mermaid {
  display: flex;
  justify-content: center;
}

.logos-background {
  margin: 15px 0;
}

.logos-background img {
  height: 80px;
  width: auto;
  margin: 10px;
}

.reveal code {
  font-size: 12px;
  line-height: 20px;
}
