@import url('https://fonts.googleapis.com/css?family=Fira+Sans');

html, body {
  background: #0B2540;
  font-family: 'Fira Sans', sans-serif;
  color: white;
}

.reveal {
  color: white;
}

.reveal h1, .reveal h2, .reveal h3 {
  color: #f2875c;
  font-family: 'Fira Sans', sans-serif;
}

.reveal h4 {
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.reveal h5 {
  color: #2B8AC6;
  font-family: 'Fira Sans', sans-serif;
  font-size: 0.6em;
  margin-top: 25px;
}

.reveal p {
  color: #2B8AC6;
  font-family: 'Fira Sans', sans-serif;
}

.player {
  width: 768px;
  transition: all 500ms;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hide {
  opacity: 0;
}

.grid {
  display: flex;
}

.box-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes animatedBackground {
  0% {
      background-position: bottom right
  }
  50% {
      background-position: top left
  }
  100% {
      background-position: bottom right
  }
}

.reveal .slide-background.moving-background {
  background-size: 110%;
  animation-name: animatedBackground;
  animation-duration: 150s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: animatedBackground;
  -webkit-animation-duration: 150s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.reveal .slide-background.transparent-background {
  opacity: 0.2 !important;
}

.reveal section img {
  border: none;
  background: transparent;
  box-shadow: none;
}

.player-konzept {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 600px;
}

.player-konzept img {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  max-width: 100%;
}

.player-konzept-teil {
  position: relative;
  transition: margin 300ms;
}

.player-konzept-teil.split {
  margin: 15px 0;
}

.player-konzept .beschreibung {
  top: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.6em;
  transition: opacity 600ms;
}

.player-konzept-teil.split .beschreibung {
  opacity: 1;
}

.centered {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.responsive-info {
  font-size: 0.5em !important;
}

.input-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 0.5em !important;
  margin-right: 15px !important;
}

.input input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 5px;
  border: 2px solid #f2875c;
  background: white;
  width: 15px;
  height: 15px;
  border-radius: 2px;
}

.input input[type="checkbox"]:checked {
  background-color: #f2875c;
}

.team, .support {
  display: flex;
  width: 100%;
  flex-flow: row wrap;
}

.contributor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15px !important;
  color: white;
  width: calc(33% - 30px);
}

.support .contributor {
  width: calc(25% - 30px);
}

.avatar {
  width: 120px;
  height: 120px;
  background-size: 120px;
  background-position: center center;
  margin-bottom: 15px !important;
  overflow: hidden;
  border: 4px solid #2a76dd;
  border-radius: 5px;
}

.name {
  color: white !important;
  font-size: 0.7em !important;
}

.role {
  color: #f2875c !important;
  font-size: 0.5em !important;
}
