.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  margin-top: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-signal, currentColor);
  box-shadow: .5rem .5rem 0 var(--color-signal, currentColor);
  color: var(--color-light);
  font-family: "Inter", sans-serif;
  font-size: calc(.6rem + .4vw);
}

.app > * {
  margin: 10px 0;
}
